@model MyBlog.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <img src="https://egans.com.au/wp-content/uploads/2017/02/Melbourne-CBD-BLOG-1600x948.jpg" alt="poop" class="img-responsive" />
    <div class="scroll-down">
        <a href="#section-about" class="scroll-down-btn">
            <img src="http://willmoreoutfitters.ca/wp-content/uploads/2017/04/arrow-down@2x.png" class="scroll-down-icon" />
            <span>Scroll down</span>
        </a>
    </div>
</div>
<div class="section-about"></div>
<div class="article">

   @Html.Partial("~/Views/Shared/Partials/_LatestBlogPosts.cshtml", Model)

</div>





