@model MyBlog.DtoModels.PageDto

@{
    ViewBag.Title = "StandardPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <h1>@Model.Heading</h1>
    <img src="@Model.ImageOverlay" class="img-overlay" />


    <div class="wrapper">
        <p>@Model.Description</p>
    </div>

    <a href="~/Views/Home/Index.cshtml">Tillbaka till start</a>
</div>

