a {
    text-decoration: none;
}


body {
    font-size: .85em;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

header, footer, nav, section {
    display: block;
}

.img-overlay {
    height: 600px;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Styles for basic forms
-----------------------------------------------------------*/

.article {
    text-align: center;
    margin: 100px;
}

.article-archive {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #b3b3b3;
    font-size: 0.7em;
}

.article-link {
    color: #b3b3b3;
}

    .article-link:hover {
        color: #b3b3b3;
        text-decoration: underline;
    }

.comments {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: right;
}

.date-published {
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 4px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


.editor-label {
    margin: 1em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.header {
    position: relative;
    z-index: 1;
}

.icon-img {
    z-index: 30;
    position: relative;
    padding-left: 20px;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.img-responsive {
    width: 100%;
    height: 100vh;
}

.menu-item {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 11px;
    line-height: 3.8em;
    padding: 20px 0px 0px 20px;
    letter-spacing: 2.5px;
}


    .menu-item:hover {
        color: #c6c6c6;
    }



.scroll-down {
    margin: 0 auto;
    text-align: center;
    z-index: 14;
    bottom: 10%;
    position: absolute;
    left: 50%;
}

.scroll-down-btn {
    color: #ffffff;
    position: absolute;
    z-index: 10;
    margin: 10px;
    width: 100px;
}

.scroll-down-icon {
    height: 35px;
    position: absolute;
    margin: 10px;
}


.title {
    font-size: 2.8em;
    color: black;
    text-transform: uppercase;
    font-family: "Didot", Times, serif;
    font-weight: 400;
    line-height: 1.2em;
}

    .title:hover {
        text-decoration: underline;
    }

.top-nav {
    background-color: black;
    height: 43px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.top-nav-left {
    width: auto;
    float: left;
}


.top-nav-right {
    height: 17px;
    top: 0;
    float: right;
    padding: 10px;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Smart phones start*/
@media only screen and (max-width: 600px) {
    .img-responsive {
        height: auto;
    }
}

/*Smart phones end*/

